CoreJavaBasic/src/com/pp/apachexmlbean/person.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="person-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="person" type="person"/>
			</xs:sequence>
		  </xs:complexType>
	   </xs:element>
	   <xs:complexType name="person">
	   <xs:sequence>
			   <xs:element name="name" type="xs:string"/>
			   <xs:element name="age" type="xs:int"/>
	   </xs:sequence>
	   </xs:complexType>
</xs:schema>