CoreJavaBasic/employees.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="age"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="gender"/>
              <xs:element type="xs:string" name="role"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>